Lee wants a summarized list of submissions to the SRA to see wehre he is at in the grand totals.

In [3]:
# %load ../start.py
# Load useful extensions

# Activate the autoreload extension for easy reloading of external packages
%reload_ext autoreload
%autoreload 2

# Trun on the water mark
%reload_ext watermark
%watermark -u -d -g

# Load ipycache extension
%reload_ext ipycache
from ipycache import CacheMagics
CacheMagics.cachedir = '../cachedir'

# Add project library to path
import sys
sys.path.insert(0, '../../lib/python')

# The usual suspects
import os
import numpy as np
import pandas as pd

# plotting
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set_context('poster')

# Turn off scientific notation
np.set_printoptions(precision=5, suppress=True)

last updated: 2017-10-25
Git hash: e60adc9f502e97e6e986666e21266bb33a51c5a1

In [4]:
# %load ../../bin/load.py
from pymongo import MongoClient
with open('/home/fearjm/Projects/ncbi_remap/output/.mongodb_host', 'r') as fh:
    host = fh.read().strip()
client = MongoClient(host=host, port=27022)
db = client['sra2']
remap = db['remap']

In [14]:
df = pd.DataFrame(list(remap.aggregate([
    {'$unwind': '$contacts'},
    {
        '$group': {
            '_id': {'$concat': ['$contacts.last_name', '_', '$contacts.first_name']},
            'count': {'$sum': 1}
        }
    },
    {'$sort': {'count': -1}}
])))

In [19]:
df

                   _id  count
0         Oliver_Brian   4122
1         Long_Anthony   2691
2          Chang_Peter   1144
3         Miller_Danny    611
4                 None    584
5        Gilks_William    444
6          Combs_Peter    408
7          Lack_Justin    385
8           Suez_Marie    329
9      Ramaswami_Gokul    262
10         Bellen_Hugo    219
11         White_Kevin    213
12      Crocker_Amanda    185
13       Ingleby_Fiona    179
14              Qu_Wen    158
15         Aerts_Stein    150
16      Hutter_Stephan    113
17       Cherbas_Peter    102
18       Ramirez_Fidel    100
19            Chen_Jun     96
20              Han_Bo     95
21       Blythe_Shelby     95
22     Dutta_Devanjali     95
23       Corces_Victor     93
24        Early_Angela     91
25   Kadener_Sebastian     91
26          Yanai_Itai     91
27           Chen_Xiao     89
28    Grenier_Jennifer     86
29       Straub_Tobias     83
..                 ...    ...
363      LePage_Daniel      2
364        Ha_Hongseok      2
365     Singh_Ravinder      2
366  Ciabrelli_Filippo      1
367    Seong_Keon Mook      1
368      Juneja_Punita      1
369       Trivedi_Urmi      1
370     Corcoran_David      1
371       Hardin_Aaron      1
372  Arensburger_Peter      1
373         Tan_Xinxin      1
374    Schrider_Daniel      1
375      Adrian_Andrew      1
376            Sun_Lin      1
377        Adey_Andrew      1
378        Pek_Jun Wei      1
379        Baxley_Ryan      1
380     Randall_Thomas      1
381      Marco_Antonio      1
382  Schaefer_Matthias      1
383       Marques_Joao      1
384   Hamilton_Phineas      1
385        Lin_Jiannan      1
386         Olson_Eric      1
387      Mishra_Rakesh      1
388       Hadzic_Tarik      1
389        Chen_Mei-Ju      1
390      Rivas_Marcelo      1
391      Landolin_Jane      1
392       Chong_Zechen      1

[393 rows x 2 columns]

In [18]:
df.fillna('Missing').to_csv('../../output/counts_for_lee.tsv', sep='\t', index=False)